[run]
branch = True
source = pygenome
[report]
omit =  
    */python?.?/*
    */site-packages/nose/*
    */site-packages/Bio/*
    */site-packages/networkx/*
    *__init__*
    */_version.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if __name__==.__main__.:
    if __name__ ==.__main__.:
    if __name__== .__main__.:
ignore_errors = True



