# MANIFEST.in
# This tells distutils what files to distribute.

include LICENSE.txt
include README.rst
include MANIFEST.in
include setup.py

recursive-include tests *
recursive-include docs *
recursive-include scripts *
global-exclude *.pyc
global-exclude *~
include versioneer.py
include pygenome/_version.py
