# MANIFEST.in
# This tells distutils what files to distribute.

include LICENSE.txt
include README.md
include MANIFEST.in
include setup.py
include Saccharomyces_cerevisiae.zip
include versioneer.py
include pygenome/_version.py

recursive-include tests *
recursive-include docs *
recursive-include scripts *
global-exclude *.pyc
global-exclude *~

